{% load endless %}
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Stepic Lessons</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/default.css" %}" >
</head>
<body>
<form action="/search/" method="post" class="search_with_list">
    {% csrf_token %}
    <div class="search">
        {{ form }}
        <input type="submit" value="Search" class="button"/>
    </div>
</form>
{% if not lessons%}
<p class="no_results">
  No lessons found
</p>
{% else %}
<div>
    {% paginate lessons %}
    <ul class="search-list">
        {% for l in lessons %}
        <li id="{{ l.id }}" class="search-item">
            <div>
                <a href="http://stepic.org/lesson/{{ l.id  }}">{{l.title }}
                {% if not l.is_public %}
                    <img src="{% static "images/lock-rounded.png" %}" />
                {% endif %}
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="pages_buttons">{% show_pages %}</div>
</div>
{% endif %}
</body>
</html>
